/* purple dih*/
:root {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}

body[theme=threekho] {
    --inputbg: #7f32a8;
    --inputborder: #a155c8;
    --uibg: #5b217e;
    --textcolor: #fff;
    --bg: #41145b;
}
body[theme=art] {
    --inputbg: #6a1a8c;
    --inputborder: #8e2b9c;
    --uibg: #3d0e5c;
    --textcolor: #fff;
    --bg: #2b0847;
}
body[theme=dogcat] {
    --inputbg: #5c357f;
    --inputborder: #8a48b5;
    --uibg: #492a63;
    --textcolor: #fff;
    --bg: #311d43;
}
body[theme=custom] {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046;
    --textcolor: #fff;
    --bg: #10002b;
}
body[theme=mainnew] {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046bb;
    --textcolor: #fff;
    --bg: linear-gradient(0deg, rgba(36,0,70,1) 0%, rgba(60,9,108,1) 50%, rgba(36,0,70,1) 100%);
}
body[theme=main] {
    --inputbg: #3c096c;
    --inputborder: #5a189a;
    --uibg: #240046bb;
    --textcolor: #fff;
    --bg: #10002b;
}
body[theme=light] {
    --inputbg: #a8a8c4;
    --inputborder: #c4c4e0;
    --uibg: #c0c0e3;
    --textcolor: #2d2a42;
    --bg: #e0e0f5;
}
body[theme=dark] {
    --inputbg: #332d40;
    --inputborder: #443c57;
    --uibg: #242230;
    --textcolor: #fff;
    --bg: #0c0a1c;
}
body[theme=egamepass] {
    --inputbg: #4f4ed1;
    --inputborder: #554fe0;
    --uibg: #181494;
    --textcolor: #c2c1ff;
    --bg: #16126f;
}
body[theme=cools1te] {
    --inputbg: #a134dc;
    --inputborder: #b153e3;
    --uibg: #ab28cf;
    --textcolor: #d3a4fa;
    --bg: #8e14af;
}

body[theme=lattefalse] {
    --inputbg: #9c99b0;
    --inputborder: #8c88a1;
    --uibg: #ccd0da;
    --textcolor: #4c4a69;
    --bg: #eff0f5;
    --shadow: 0px 0px 4px #ccd0da;
}
body[theme=frappefalse] {
    --inputbg: #736d94;
    --inputborder: #8379a7;
    --uibg: #413d59;
    --textcolor: #d3cbf5;
    --bg: #302c46;
    --shadow: 0px 0px 4px #413d59;
}
body[theme=macchiatofalse] {
    --inputbg: #6e6b8d;
    --inputborder: #807a82;
    --uibg: #36324f;
    --textcolor: #d1caf5;
    --bg: #24213a;
    --shadow: 0px 0px 4px #36324f;
}
body[theme=mochafalse] {
    --inputbg: #6c6986;
    --inputborder: #7f7c9c;
    --uibg: #312f44;
    --textcolor: #d6d3f4;
    --bg: #1e1b2e;
    --shadow: 0px 0px 4px #312f44;
}

body[theme=sunsetfalse] {
    --inputbg: #534b94;
    --inputborder: #30269c;
    --uibg: #2a1f91;
    --textcolor: #fff;
    --bg: #3b354e;
    --shadow: 0px 0px 2px #a59cf5;
}
body[theme=mountainsfalse] {
    --inputbg: #9c7f9c;
    --inputborder: #c48ae2;
    --uibg: #a684d3;
    --textcolor: #fff;
    --bg: #8b74bf;
    --shadow: 0px 0px 4px #bba99b;
}
body[theme=vaporwavefalse] {
    --inputbg: #4b2d64;
    --inputborder: #74568d;
    --uibg: #51166d;
    --textcolor: #fff;
    --bg: #61437a;
    --shadow: 0px 0px 4px #000000;
}
body[theme=seraphfalse] {
    --inputbg: #1d0032;
    --inputborder: #fff;
    --uibg: #1d0032;
    --textcolor: #fff;
    --bg: #32223a;
    --shadow: 0px 0px 4px #fff;
}
body[theme=nighttimefalse] {
    --inputbg: #292d4d;
    --inputborder: #fff;
    --uibg: #292d4d;
    --textcolor: #fff;
    --bg: #323553;
    --shadow: 0px 0px 4px #fff;
}



body[theme=latte] {
    --inputbg: #9c99b0;
    --inputborder: #8c88a1;
    --uibg: #ccd0da;
    --textcolor: #4c4a69;
    --bg: #eff0f5;
    --shadow: 0px 0px 4px #ccd0da;
}
body[theme=frappe] {
    --inputbg: #736d94;
    --inputborder: #8379a7;
    --uibg: #413d59;
    --textcolor: #d3cbf5;
    --bg: #302c46;
    --shadow: 0px 0px 4px #413d59;
}
body[theme=macchiato] {
    --inputbg: #6e6b8d;
    --inputborder: #807a82;
    --uibg: #36324f;
    --textcolor: #d1caf5;
    --bg: #24213a;
    --shadow: 0px 0px 4px #36324f;
}
body[theme=mocha] {
    --inputbg: #6c6986;
    --inputborder: #7f7c9c;
    --uibg: #312f44;
    --textcolor: #d6d3f4;
    --bg: #1e1b2e;
    --shadow: 0px 0px 4px #312f44;
}

body[theme=sunset] {
    --inputbg: #534b94;
    --inputborder: #30269c;
    --uibg: #2a1f91;
    --textcolor: #fff;
    --bg: url("/img/backgrounds/sunset_theme.jpg"), #3b354e;
    --shadow: 0px 0px 2px #a59cf5;
}
body[theme=mountains] {
    --inputbg: #9c7f9c;
    --inputborder: #c48ae2;
    --uibg: #a684d3;
    --textcolor: #fff;
    --bg: url("/img/backgrounds/mountains_theme.jpg"), #8b74bf;
    --shadow: 0px 0px 4px #bba99b;
}
body[theme=vaporwave] {
    --inputbg: #4b2d64;
    --inputborder: #74568d;
    --uibg: #51166d;
    --textcolor: #fff;
    --bg: url("/img/backgrounds/vaporwave_theme.jpg"), #61437a;
    --shadow: 0px 0px 4px #000000;
}
body[theme=seraph] {
    --inputbg: #1d0032;
    --inputborder: #fff;
    --uibg: #1d0032;
    --textcolor: #fff;
    --bg: url("/img/backgrounds/seraph_theme.png"), #32223a;
    --shadow: 0px 0px 4px #fff;
}
body[theme=nighttime] {
    --inputbg: #292d4d;
    --inputborder: #fff;
    --uibg: #292d4d;
    --textcolor: #fff;
    --bg: url("/img/backgrounds/nighttime_theme.png"), #323553;
    --shadow: 0px 0px 4px #fff;
}
